{% extends 'admin_index.html' %}
{% load static %}
{% block body %}
	<!-- register -->

<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default" style="padding:2%">
    <div class="panel-heading">
     Change Password
    </div>
    <div>

			<div class="login px-sm-12" style="width:100%">
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group row">
						<div class="col-md-12">
						<label>Old Password</label>
						<input type="password" class="form-control" name="pwd3" required="">
						</div>
					</div>
                  <div class="form-group row">
						<div class="col-md-12">
						<label>New Password</label>
						<input type="password" class="form-control" name="pwd1" required="">
						</div>
					</div>
                  <div class="form-group row">
						<div class="col-md-12">
						<label>Confirm Password</label>
						<input type="password" class="form-control" name="pwd2" required="">
						</div>
					</div>

					<button type="submit" class="btn btn-primary submit mt-4">Change Password</button>
				</form>
			</div>
		</div>

 </div>
		</div>
	</section>
</section>
	<!-- //register -->
{% endblock %}