{% extends 'index.html' %}
{% load static %}
{% block body %}
	<section class="page-header bg_img padding-tb">
			<div class="overlay"></div>
			<div class="container">
				<div class="page-header-content-area">
					<h4 class="ph-title">Cold Storage SignUp US</h4>
					<ul class="lab-ul">
						<li><a href="index.html">Home</a></li>
						<li><a class="active">SignUp</a></li>
					</ul>
				</div>
			</div>
		</section>
			<section class="logins py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<h6 class="w3ls-title-sub"></h6>
				<h3 class="w3ls-title text-uppercase text-dark font-weight-bold">Register Now</h3>
			</div><hr/>
			<div class="login px-sm-12" style="width:100%">
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group row">
						<div class="col-md-6">
						<label>First Name</label>
						<input type="text" class="form-control" name="fname" placeholder="First Name" required="">
						</div>
						<div class="col-md-6">
						<label>Last Name</label>
						<input type="text" class="form-control" name="lname" placeholder="Last Name" required="">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
						<label>Email</label>
						<input type="email" class="form-control" name="email" placeholder="Enter Email" required="">
						</div>
						<div class="col-md-6">
						<label>Password</label>
						<input type="password" class="form-control" name="pwd" placeholder="Password" required="">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
						<label class="mb-2">Address</label>
						<input type="text" class="form-control" name="address" id="password1" placeholder="Enter Address" required="">
						</div>
						<div class="col-md-6">
						<label>Contact</label>
						<input type="text" class="form-control" name="contact" placeholder="Enter Contact" required="">
						</div>
					</div>
			<button type="submit" class="lab-btn">
										<span>SignUp Now</span>
									</button>					<p class="text-center mt-5">
						<a href="#">By clicking Register, I agree to your terms</a>
					</p>
				</form>
			</div>
		</div>
	</section>

	{% endblock %}