{% extends 'admin_index.html' %}
{% load static %}
{% block body %}

<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default" style="padding:2%">
    <div class="panel-heading" style="margin:2%">
     New Application Request
    </div>
                    <table id="example" class="display" style="width:100%;">
                  <thead>
        <tr>
          <th>#</th>
          <th>Application Number</th>
          <th>Name</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Status</th>
          <th>Application Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
      {% for i in data %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{i.applicationNumber}}</td>
          <td>{{i.user.user.first_name}} {{i.user.user.last_name}}</td>
          <td>{{i.user.user.email}}</td>
          <td>{{i.user.contact}}</td>
          <td>{{i.status}}</td>
          <td>{{i.applyDate}}</td>
     <td style="width:150px">
                   <a href="{% url 'admin_view_detail_booked_storage' i.id %}" ><button class="btn btn-primary" ><i class="fa fa-eye"></i></button></a>
     </td>
        </tr>
    {% endfor %}
      </tbody>
                    </table>
                </div>
            </div>
    </section>
</section>

{% endblock %}
